{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}


{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="/index">Digital Marketplace</a></li>
    </ol>
  </div>


  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        {{data["title"]}}
      </h1>

      <ol class="task-list">
        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">1. </span> Describe your premarket engagement
          </h2>

          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="title" aria-describedby="eligibility-incomplete">
                Title
              </a>

              {% if data["title"] %}
                <strong class="task-completed" id="eligibility-completed">Completed</strong>
              {% endif %}

            </li>
            <li class="task-list-item">
              <a class="task-name" href="description-of-work" aria-describedby="eligibility-incomplete">
                Description of work
              </a>
              
              {% if data["work-location"] %}
                <strong class="task-completed" id="eligibility-completed">Completed</strong>
              {% endif %}
              
              
            </li>
            <li class="task-list-item">
              <a class="task-name" href="session-details" aria-describedby="eligibility-incomplete">
                Description of session
              </a>
              {% if data["session-time"] %}
                <strong class="task-completed" id="eligibility-completed">Completed</strong>
              {% endif %}            </li>
          </ul>
        </li>

      </ol>

      <ol class="task-list">
        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">2. </span> Publish
          </h2>

          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="preview" aria-describedby="eligibility-incomplete">
                Preview and publish
              </a>
              <!-- <strong class="task-completed" id="eligibility-completed">Completed</strong> -->
            </li>
            <li class="task-list-item">
              <a class="task-name" href="description-of-work" aria-describedby="eligibility-incomplete">
                Invite suppliers to express interest
              </a>
              <!-- <strong class="task-completed" id="eligibility-completed">Completed</strong> -->
            </li>
            <li class="task-list-item">
              <a class="task-name" href="preview" aria-describedby="eligibility-incomplete">
                View interested suppliers
              </a>
              <!-- <strong class="task-completed" id="eligibility-completed">Completed</strong> -->
            </li>
          </ul>
        </li>

      </ol>


      <ol class="task-list">
        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">3. </span> Invite suppliers
          </h2>

          <ul class="task-list-items">

            <li class="task-list-item">
              <a class="task-name" href="preview" aria-describedby="eligibility-incomplete">
                Shortlist and invite
              </a>
              <!-- <strong class="task-completed" id="eligibility-completed">Completed</strong> -->
            </li>

          </ul>
        </li>

      </ol>

    </div>
  </div>
</main>

{% endblock %}


