{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}


{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Overview
      </h1>

      <form class="form" action="/create/preview">

        <ul>
          <li><a href="title">Title</a></li>
          <li><a href="description-of-work">Description of work</a></li>
          <li><a href="session-details">Session details</a></li>
        </ul>

        <div class="form-group">
          <br>
          <input class="button" type="submit" value="Preview and publish">
        </div>

      </form>
    </div>
  </div>
</main>

{% endblock %}


