{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}


{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="/index">Digital Marketplace</a></li>
      <li><a href="/create/overview">{{data["title"]}}</a></li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Session details
      </h1>

    </div>
    <div class="column-one-whole">

      <table class="summary-item-body">
        <caption class="visually-hidden">
          Summary table with manual rows
        </caption>
        <thead class="summary-item-field-headings">
          <tr>
            <th scope="col" class="summary-item-field-heading-first">
              <span class="visually-hidden">Label</span> 
            </th>
            <th scope="col" class="summary-item-field-heading">
              <span class="visually-hidden">Value</span>    
            </th>
          </tr>
        </thead>
        <tbody>  
          <tr class="summary-item-row">
            <td  class="summary-item-field-first">
              <a href="session-type">Type of event</a>
            </td>
            <td  class="summary-item-field">
              {{data["session-type"]}}
            </td>
          </tr>
          <tr class="summary-item-row">
            <td  class="summary-item-field-first">
              <a href="session-description">Description</a>
            </td>
            <td  class="summary-item-field">
              {{data["session-description"]}}
            </td>
          </tr>
          <tr class="summary-item-row">
            <td  class="summary-item-field-first">
              <a href="session-quantity">How many people can attend</a>
            </td>
            <td  class="summary-item-field">
              {{data["session-quantity"]}}
            </td>
          </tr>
          <tr class="summary-item-row">
            <td  class="summary-item-field-first">
              <a href="session-location">Where the session will take place</a>
            </td>
            <td  class="summary-item-field">
              {{data["session-location"]}}
            </td>
          </tr>
          <tr class="summary-item-row">
            <td  class="summary-item-field-first">
              <a href="session-time">When the session will take place</a>
            </td>
            <td  class="summary-item-field">
              {{data["session-time"]}}
            </td>
          </tr>
        </tbody>
      </table>

      <br>
      
      <a href="overview">Return to overview</a>

      </form>
    </div>
  </div>
</main>

{% endblock %}


