{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}


{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="/index">Digital Marketplace</a></li>
      <li><a href="/create/overview">{{data["title"]}}</a></li>
      <li><a href="/create/session-details">Session details</a></li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Description
      </h1>

      <form class="form" action="/create/session-details">

        <div class="question" id="session-description">
          <label for="session-description" class="visually-hidden">session-description</label>
          <textarea type="textarea" name="session-description" id="session-description" class="text-box  text-box-large">{{data["session-description"]}}</textarea>
        </div>

        <input class="button" type="submit" value="Save and continue">

      </form>
    </div>
  </div>
</main>

{% endblock %}


