{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}


{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="/index">Digital Marketplace</a></li>
      <li><a href="/create/overview">{{data["title"]}}</a></li>
      <li><a href="/create/session-details">Session details</a></li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Session details
      </h1>

      <ul>
        <li><a href="session-description">Description</a></li>
        <li><a href="session-location">Location</a></li>
        <li><a href="session-time">Time and date</a></li>
      </ul>

      <br>
      
      <a href="overview">Return to overview</a>

      </form>
    </div>
  </div>
</main>

{% endblock %}


