{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}


{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="/index">Digital Marketplace</a></li>
      <li><a href="/create/overview">{{data["title"]}}</a></li>
      <li><a href="/create/session-details">Session details</a></li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Time and date
      </h1>

      <form class="form" action="/create/session-details">

        <div class="question" id="session-time">
          <label for="session-time" class="visually-hidden">session-time</label>
          <input type="text" name="session-time" id="session-time" class="text-box" value="{{data["session-time"]}}">
        </div>

        <input class="button" type="submit" value="Save and continue">

      </form>
    </div>
  </div>
</main>

{% endblock %}


