{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}


{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="/index">Digital Marketplace</a></li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Title
      </h1>

      <form class="form" action="/create/overview">

        <div class="question" id="title">
          <label for="title" class="visually-hidden">title</label>
          <input type="text" name="title" id="title" class="text-box" value="{{data["title"]}}"/>
        </div>

        <input class="button" type="submit" value="Save and continue">

      </form>

    </div>
  </div>
</main>

{% endblock %}


