{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}


{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="/index">Digital Marketplace</a></li>
      <li><a href="/create/overview">{{data["title"]}}</a></li>
      <li><a href="/create/description-of-work">Description of work</a></li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Category
      </h1>

      <form class="form" action="/create/description-of-work">

        <div class="multiple-choice">
          <input id="radio-1" type="radio" name="work-category" value="We know the outcome">
          <label for="radio-1">We know the outcome, would you be interested</label>
        </div>
        <div class="multiple-choice">
          <input id="radio-2" type="radio" name="work-category" value="We dont know the outcome">
          <label for="radio-2">We dont know the outcome, give us ideas</label>
        </div>
        <div class="column-one-whole" style="margin-left: -10px">
        <br>
        <input class="button" type="submit" value="Save and continue">
        </div>
      </form>

    </div>
  </div>
</main>

{% endblock %}


