{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}


{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Description
      </h1>

      <form class="form" action="/create/description-of-work">

        <fieldset class="form-group">
          <legend class="visuallyhidden">Title</legend>
          <div class="form">

            <div class="form-title">
              <input class="form-control" id="title" name="title">
            </div>

          </div>
        </fieldset>

        <div class="form-group">
          <input class="button" type="submit" value="Save and continue">
        </div>

      </form>
    </div>
  </div>
</main>

{% endblock %}


