{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}


{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="/index">Digital Marketplace</a></li>
      <li><a href="/create/overview">{{data["title"]}}</a></li>
      <li><a href="/create/description-of-work">Description of work</a></li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Add a description of your project
      </h1>

      <form class="form" action="/create/description-of-work">

        <div class="question" id="work-description">
          <!-- <p for="work-description" class="">Give a description of your project</p> -->

          <p>
            Information you could give includes:
            <ul class="list-bullet">
              <li>background to your organisation and project</li>
              <li>what you want to achieve</li>
              <li>the phases you want them to give feedback on</li>
              <li>the information you want suppliers to provide<br><span style="margin-top: -5px" class="hint">For example, how much the work might cost, how many people it may involve and how long it might take</span></li>
            </ul>
          </p>
          <p class="">If you are not sure yet of the details or scope of the project, you can keep this brief.</p>
          <br>
          <label for="work-description" class="visually-hidden">Give a description of your project</label>

          <textarea type="textarea" name="work-description" id="work-description" class="text-box  text-box-large">{{data["work-description"]}}</textarea>
        </div>

        <input class="button" type="submit" value="Save and continue">

      </form>

    </div>
  </div>
</main>

{% endblock %}


