{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}


{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="/index">Digital Marketplace</a></li>
      <li><a href="/create/overview">{{data["title"]}}</a></li>
      <li><a href="/create/description-of-work">Description of work</a></li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Description
      </h1>

      <form class="form" action="/create/description-of-work">

        <div class="question" id="work-description">
          <label for="work-description" class="visually-hidden">work-description</label>
          <textarea type="textarea" name="work-description" id="work-description" class="text-box  text-box-large">{{data["work-description"]}}</textarea>
        </div>

        <input class="button" type="submit" value="Save and continue">

      </form>

    </div>
  </div>
</main>

{% endblock %}


